:root {

  --button-color: #036B52;

  --generic-border: #333;

  --sign-up-button: #001813;

  --sign-up-button-transition: #a5f4fa;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') ;

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > img {
  align-self: center;
}

.login-container > h1 {
  align-self: center;
  color: black;
}

.form-container {
  background: #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 15px 8px var(--generic-border);
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
}

.form-container > label {
  margin-top: 10px;
}

.login-label {
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto' sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.login-label > input {
  align-self: center;
  border: solid 1px var(--generic-border);
  border-radius: 4px;
  height: 25px;
  margin-top: 3px;
  text-align: center;
  width: 200px;
}

.password-label {
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto' sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.password-label > input {
  align-self: center;
  border: solid 1px var(--generic-border);
  border-radius: 4px;
  height: 25px;
  margin-top: 3px;
  text-align: center;
  width: 200px;
}

.password-label > button {
  align-self: flex-end;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  top: -27px;
}

.password-label > button > img {
  height: 25px;
  left: -5px;
  position: relative;
  top: -2.5px;
  width: 25px;
}

.login-button-disabled {
  align-self: center;
  border: solid 1px var(--generic-border);
  border-radius: 8px;
  color: black;
  font-family: 'Roboto' sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  margin-bottom: 12px;
  margin-top: 12px;
  opacity: 0.2;
  width: 200px;
}

.login-button-disabled:hover {
  cursor: pointer;
}

.login-button {
  align-self: center;
  background-color: var(--button-color);
  border: solid 1px var(--generic-border);
  border-radius: 8px;
  color: white;
  font-family: 'Roboto' sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  margin-bottom: 12px;
  margin-top: 12px;
  width: 200px;
}

.login-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.password-handler {
  background-color: white;
  border: none;
  height: 20px;
  width: 25px;
}

.sign-up {
  align-self: center;
  background-color: #eee;
  border: solid 1px var(--generic-border);
  border-radius: 8px;
  color: var(--sign-up-button);
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  height: 30px;
  width: 150px;
}

.sign-up:hover {
  background-color: var(--sign-up-button-transition);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  opacity: 0.9;
  transition: all 0.5s ease;
  width: 200px;
}
