:root {

  --font-family: @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  --generic-border: #333;

  --button-color: #036b52;

}

.register-container {
  border-radius: 4px;
  box-shadow: 0.25px 0.25px 10px 0.25px var(--generic-border);
  color: black;
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 300px;
}

.register-container > label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.label-input > input {
  align-self: center;
  border: solid 1px var(--generic-border);
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  width: 200px;
}

.label-input:nth-child( 4n ) {
  position: relative;
  top: -25px;
}

.create-button-disabled {
  align-self: center;
  border: solid 1px var(--generic-border);
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  opacity: 0.6;
  width: 150px;
}

.create-button-disabled:hover {
  cursor: pointer;
}

.create-button {
  align-self: center;
  background-color: var(--button-color);
  border: solid 1px var(--generic-border);
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  width: 150px;
}

.create-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.password-button {
  align-self: flex-end;
  background: white;
  border: none;
}

.password-button > img {
  height: 25px;
  position: relative;
  right: 45px;
  top: -40px;
  width: 25px;
}
